---

---

<div class="relative overflow-hidden">
  <svg xmlns="http://www.w3.org/2000/svg" class="absolute h-full w-full top-0">
    <g fill-rule="evenodd" opacity=".071" transform="translate(-171 -373)">
      <rect
        width="510.431"
        height="908"
        x="1269"
        y="7"
        rx="255.215"
        transform="scale(1 -1) rotate(-45 200 0)"
      >
      </rect>
    </g>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="absolute h-1/2 w-full -bottom-64 -left-64"
  >
    <g fill-rule="evenodd" opacity=".071" transform="translate(-171 -373)">
      <rect
        width="310.431"
        height="708"
        x="205"
        y="410"
        rx="155.215"
        transform="scale(1 -1) rotate(-45 -1484.244 0)"
      >
      </rect>
    </g>
  </svg>
  <slot />
</div>
