---
import Button from "./Button.astro";
const menu = ["Pricing", "Product", "About Us", "Community"];
---

<header class="w-full flex items-center justify-around py-14 mb-24">
  <img src="/images/logo.svg" alt="manage logo" />
  <nav>
    <ul class="flex gap-x-10 font-semibold">
      {
        menu.map((element) => (
          <li class="block hover:text-light transition ease-linear">
            <a href="/">{element}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Button class="bg-primary/90 border-x-4 border-primary text-white w-36">
    Get Started
  </Button>
</header>
