---
import Button from "./Button.astro";
---

<section class="w-full flex items-center justify-around mb-[135px]">
  <article class="w-1/3 flex flex-col gap-y-10">
    <h1 class="font-bold text-balance text-5xl text-secondary">
      Bring everyone together to build better products.
    </h1>
    <blockquote class="text-pretty text-light">
      Manage makes it simple for software teams to plan day-to-day tasks while
      keeping the larger team goals in view.
    </blockquote>
    <Button class="bg-primary/90 border-x-4 border-primary text-white w-36">
      Get Started
    </Button>
  </article>
  <article class="w-1/3">
    <img src="/images/illustration-intro.svg" alt="" />
  </article>
</section>
